/* Geral */
*{
    margin: 0;
    padding: 0;
    font-family: 0;
    box-sizing: border-box;
}
h1,h2,h3{
    color: #333;
}
p{
    color: #70747a;
}

/* Navbar */
nav{
    position: relative;
}
.navbar-container{
    width: 100%;
    height: 80px;
    background-color: rgb(119, 162, 241);
    padding: 0 2rem;
}
.logo{
    width: 60px;
    margin-top: 15px;
}

.navbar-items{
    position: absolute;
    right: 0;
    height: 80px;
    line-height: 80px;
    margin: 0;
    display: inline-block;
}

.navbar-items li{
    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px;
}
.navbar-items a{
    color: white;
    text-decoration: none;
    transition: 0.5s
}
.navbar-items a:hover{
    color: #c2c2c2;
}

.default-btn{
    padding: 15px 20px;
    background-color: #080808;
    border-radius: 6px;
    box-shadow: 0px 0px 12px -2px black;
}
.navbar-items .default-btn:hover {
    background-color: #2b2a2a;
    color: white;
}
.main-banner {
    background-image: url("/img/pexels-veeterzy-39811.jpg");
    /* filter:grayscale(80%); */
    /* opacity: 90%; */
    background-size: cover;
    background-position: center;
    padding: 10rem 0;

}

.main-banner h1, .main-banner p{
    color: rgb(233, 233, 233);
    text-align: center;
    opacity: 99%;
    font-weight: bold;
    text-shadow: #080808 3px 2px 3px;
}
.main-banner h1{
    font-size: 74px;
}

/* Services */
.services-container{
    padding: 3rem 0;
}
.services-container ul{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
.services-container li{
    flex: 1 1 200px;
    list-style: none;
    text-align: center;
    padding: 20px;
}
.services-container p{
    line-height: 20px;
}
/* Icones dos serviços Oferecidos */
.fas{
    font-size: 60px;
    margin-bottom: 15px
}
/* Icone Segurança */
.fa-shield-alt{
    color: rgb(131, 131, 131);
}
/* Icone Performace */
.fa-rocket{
    color: rgb(131, 131, 131);
}
/* Icone comentário */
.fa-comments{
    color: rgb(131, 131, 131);
}

/* prices and plans */

/* Sessão and plans */
.precing-container{
    text-align: center;
}
/* Título and plans */
.precing-container h2{
    font-size: 36px;
}
/* Parágrafo and plans */
.precing-container p{
    font-size: 24px;
}
/* Divisão de preços and plans */
.plans-container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 50px auto 0;   
}

.plan{
    flex: 1;
    max-width: 275px;
    margin: 0 10px;
}

/* Listas and plans */
.plan li{
    list-style: none;
    background-color: #e4e4e4;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}
/* Estilização do preço dos planos na sessão de preços */
.plan .price{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: rgb(119, 162, 241);
    color: white;
    text-align: center;
    line-height: 120px;
    margin: 0 auto -50px;
    position: relative;
    font-size: 18px;
}
/* Estilo nome do plano na sessão de planos */
.plan .plan-name{
    text-transform: uppercase;
    font-size: 20px;
    padding: 50px 0;
    font-weight: bold;
}
/* Estilo dos botões na sessão de planos */
.plan .plan-btn{
    padding: 15px 20px;
    background-color: #7c7c7c;
    border-radius: 6px;
    box-shadow: 0px 0px 12px -2px black;
    color: white;
    line-height: 10px;
    font-size: 20px;
    cursor: pointer;
}
.plan .recommended{
    background-color: red;
}

/* Search do main */
.search-container{
    background-color: rgb(119, 162, 241);
    text-align: center;
    padding: 5rem 0;
    margin-top: 30px;
}
.search-container h2{
    color: white;
    font-size: 40px;
    margin-bottom: 10px;
}
.search-container p{
    font-size: 20px;
    margin-bottom: 25px;
    color: rgb(231, 202, 202);
}
.search-container input {
    border: none;
    margin: 0 auto;
}
/* input texto de pesquisa */
.search-container input[type="text"]{
    width: 400px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    opacity: 95%;
    margin-bottom: 10px;
}
/* Textos inseridos nos inputs de seleção do plano */
.search-container b{
    font-size: 18px;
}
/* Botão sessão de procura do domínio */
.searc-btn{
    padding: 15px 20px;
    background-color: #7c7c7c;
    border-radius: 6px;
    box-shadow: 0px 0px 12px -2px black;
    color: white;
    line-height: 10px;
    font-size: 15px;
    cursor: pointer;
    padding: 15px 30px;
    opacity: 0.8;
}
.searc-btn:hover{
    opacity: 1;
}

/* Contatos */
.contact{
    text-align: center;
} 

.contact p{
    font-size: 25px;
    position: relative;
    margin-top: 24px;
}
.contact ul{
    display: flex;
    justify-content: center;
    list-style: none;
}  
.contact li{
    margin: 5%;
    font-size: 30px;
}

/* Roda pé */
.footer{
    text-align: center;
    margin: 0 auto;
    height: 50px;
    line-height: 50px;
}
